body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(./bubbly-pastel-holographic-gradient-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    border: 2px solid black;
    margin: 10px auto;
    box-shadow: 3px 3px 5px black;
    background-color: rgb(242, 247, 247,0.2);
    backdrop-filter: blur(5px);
    
}
th,tr,td{
    border: 1px solid black;
    padding: 3px;
}
.bmi{
    display: block;
    margin: 10px auto;
    width: 22vw;
    height: 30vh;
    /* border: 1px solid red; */
    border-radius: 20% 20%;
    box-shadow: 3px 3px 5px black;
    background-color: rgb(242, 247, 247,0.2);
    backdrop-filter: blur(5px);
}
form{
    text-align: center;
}