body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(./bubbly-pastel-holographic-gradient-background.jpg);
    background-position: center;
    background-repeat:repeat;
    background-size:cover;
}
table{
    border: 2px solid black;
    margin: 10px auto;
    box-shadow: 3px 3px 5px black;
    background-color: rgb(242, 247, 247,0.1);
    backdrop-filter: blur(5px);
    
}
th,tr,td{
    border: 1px solid black;
    padding: 3px;
    font-size: 30px;
}
.bmi{
    display: block;
    margin: 10px auto;
    width: 45vw;
    height: 40vh;
    padding: 10px;
    /* border: 1px solid red; */
    border-radius: 20% 20%;
    box-shadow: 3px 3px 5px black;
    background-color: rgb(242, 247, 247,0.1);
    backdrop-filter: blur(5px);
    font-size: 20px;
}
h1{
    font-size: 50px;
}
table:hover,.bmi:hover{
    box-shadow: 6px 6px 5px black;
}
form{
    text-align: center;
}
p{
    display: inline;
}
.p1{
    color: red;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 2px 2px 2px black;
}
.p2{
    color: pink;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 2px 2px 2px black;
}
.p3{
    color: orange;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 2px 2px 2px black;
}
.p4{
    color: green;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 2px 2px 2px black;
}
.p5{
    color: orange;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 2px 2px 2px black;
}
.p6{
    color: pink;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 2px 2px 2px black;
}
.p7{
    color: red;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 2px 2px 2px black;
}
.p8{
    color: darkred;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 2px 2px 2px black;
}
button{
    font-size: 30px;
}
#submit{
    background-color: lightgreen;
    border: 2px solid darkgreen;
}
#reset{
    background-color: pink;
    border: 2px solid red;
}
#return{
    background-color: lightgray;
    border: 2px solid gray;
}
#submit:hover{
    background-color: lightgreen;
    border: 5px outset darkgreen;
}
#reset:hover{
    background-color: pink;
    border: 5px outset red;
}
#return:hover{
    background-color: lightgray;
    border: 5px outset gray;
}
label,input{
    font-size: 25px
}
@media (min-width:577px) and (max-width:1705px){/*RWD平板尺寸 */
    table{
        width: 90vw;
    }
    th,tr,td{
        border: 1px solid black;
        padding: 3px;
        font-size: 25px;
    }
    .bmi{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 3px auto;
        width: 90vw;
        height: 50vh;
        padding: 5px;
        /* border: 1px solid red; */
        border-radius: 20% 20%;
        box-shadow: 3px 3px 5px black;
        background-color: rgb(242, 247, 247,0.1);
        backdrop-filter: blur(5px);
        font-size: 30px;
        
    }
  }
@media (max-width:576px){/*RWD手機尺寸*/
    table{
        width: 95vw;
    }
    th,tr,td{
        border: 1px solid black;
        padding: 3px;
        font-size: 10px;
    }
    .bmi{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 3px auto;
        width: 90vw;
        height: 60vh;
        padding: 5px;
        /* border: 1px solid red; */
        border-radius: 20% 20%;
        box-shadow: 3px 3px 5px black;
        background-color: rgb(242, 247, 247,0.1);
        backdrop-filter: blur(5px);
        font-size: 15px;  
    }
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 20px;
    }
    .p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8{
        display: block;
    }
  }